__pycache__/
*.pyc
*.pyo
*.pyd

.env/
.venv/
env/
venv/
*/.ipynb_checkpoints/

conda-meta/
pkgs/

*.log
*.out
*.err

.cache/
*.cache/
tmp/
temp/

~/.cache/torch/
~/.cache/huggingface/
~/.cache/espnet/

downloads/
*.pth
*.npz

egs2/**/exp/
exp/
egs2/**/downloads/

data/
datasets/
raw_data/
libri
